<div class="row">
    <div class="col-sm-6 mt-2">
        <label for=""><b>Sentences</b></label>
        <div>
            Even when I visited my upscale cousin -LRB- he 's a psychiatrist -RRB- in Westport , Conn. , just down the
            road from Paul Newman 's place , I felt I belonged .<br>
            Within a year of that age were Google 's Sergey Brin and Larry Page , Apple 's Steve Wozniak , Yahoo 's
            Jerry Yang , Skype 's Janus Friis , Chad Hurley from YouTube , and Tom Anderson from MySpace .<br>
            Muhammad Yunus , who won the Nobel Peace Prize last year , demonstrated with Grameen Bank the power of
            microfinancing .<br>
            Among the holdings of the News Corporation are the Fox Broadcasting Company , HarperCollins Publishers and
            MySpace .<br>
            David Geffen , Jeffrey Katzenberg and Steven Spielberg of DreamWorks are the hosts -- with a private dinner
            afterward at Mr. Geffen 's for those who sold 20 tickets or more .<br>
            Stephen A. Schwarzman , the co-founder of the Blackstone Group , which is in the process of going public ,
            made $ 400 million last year .<br>
            Sony Corporation wishes to express its deepest and most heartfelt sympathy to his family , along with its
            utmost respect and gratitude for the instrumental role he played in assisting his middle school classmate
            and Sony founder , Akio Morita , in establishing Sony 's presence in the United States in the early 1960s
            .<br>
            For Mrs. Clinton , the strategy for reaching black voters at this early stage of the campaign involves
            strong outreach to black elected officials , business leaders and others , followed by phone calls to
            reinforce her candidacy from her husband and supporters like Robert L. Johnson , who founded Black
            Entertainment Television .<br>
            DEAL FOR ` NO DEAL ' CREATOR A group of investors led by John de Mol , one of the founders of Endemol ,
            which pioneered reality television series like '' Big Brother '' and game shows like '' Deal or No Deal , ''
            agreed to buy a controlling stake in the company .<br>
            One who seems to exemplify that search for a compass is Tom Freston , the co-founder of MTV Networks , who
            was fired last September as the chief executive of Viacom by Sumner Redstone , its chairman .<br>
        </div>
    </div>
    <div class="col-sm-6 mt-2">
        <label for=""><b>Relations</b></label>
        <div>
            /business/company/founders<br>
            /people/person/place_of_birth<br>
            /people/deceased_person/place_of_death<br>
            /business/company_shareholder/major_shareholder_of<br>
            /people/ethnicity/people<br>
            /location/neighborhood/neighborhood_of<br>
            /sports/sports_team/location<br>
            /business/person/company<br>
            /business/company/industry<br>
            /business/company/place_founded<br>
            /location/administrative_division/country<br>
            /sports/sports_team_location/teams<br>
            /people/person/nationality<br>
            /people/person/religion<br>
            /business/company/advisors<br>
            /people/person/ethnicity<br>
            /people/ethnicity/geographic_distribution<br>
            /people/person/place_lived<br>
            /business/company/major_shareholders<br>
            /people/person/profession<br>
            /location/country/capital<br>
            /location/location/contains<br>
            /location/country/administrative_divisions<br>
            /people/person/children<br>
        </div>
    </div>
</div>