.myLabel{
    display: inline;
    margin-left: .2em;
    padding-right: .2em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: white;
    background-color: #d9534f;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}