<!-- <nav>
  <a class="button" routerLink="/">Home</a> |
  <a class="button" routerLink="/fileannotate">Work file</a> |
  <a class="button" routerLink="/dashboard">Dashboard</a>
</nav> -->

<nav class=" navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" routerLink="/">
    <img width="40" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  </a>
  <div>
    <label class="app-name">Annotate your Relational Triplets</label>
    <br />
    <span style="color: white;cursor: pointer;padding-right: 6px;" title="Save current state"
      (click)="SaveCurrentState()">
      <i class="bi bi-download"></i> Save </span>
    <span style="color: white; cursor:pointer;" title="Load saved state" (click)="LoadSavedState()">
      <i class="bi bi-upload"></i> Load </span>
  </div>
  <!-- <label class="app-name">Annotate your Relational Triplets</label> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn | async " >
      <li class="nav-item active">
        <a class="nav-link text-white" routerLink="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/fileannotate">Annotate file</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/fileannotate-2">Annotate file 2</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          More menus
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/fileread">Angular File Read</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/dashboard" tabindex="-1">Dashboard</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          User Management
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/adduser">Add User</a>
          <a class="dropdown-item" href="#" >All Users</a>
          </div>
      </li>
    </ul>
    <span class="nav-link text-white" style="cursor: pointer;" *ngIf="isLoggedIn | async" (click)="Logout()">Sign
      out</span> -->
  </div>
</nav>